* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color:seashell ;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color:gray;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color:brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(101, 53, 116, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(131, 5, 163, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(228, 245, 130, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: saddlebrown;
  border: 0.2rem solid brown;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: brown;
}


*/glowing */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
h1{
	position: relative;
	font-size: 6em;
	letter-spacing: 15px;
	color: ghostwhite;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	-webkit-box-reflect : below 1px linear-gradient(transparent , #0004);
	line-height: 0.70em;
	outline: none;
	animation: animate 3s linear infinite;
}

@keyframes animate{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: ghostwhite;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
		            0 0 20px #03bcf4,
		            0 0 40px #03bcf4,
		            0 0 80px #03bcf4,
		            0 0 160px #03bcf4;

	}
}
footer{
            background: #505d61;
            position: relative;
            height: 80px;
            margin-top: 131px;
            margin-bottom: 1.5px;
        } 
